body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 17px;
    overflow-x: hidden;
    margin: 0;
    text-align: left;
    background-color: #ffff;
    display: block;
}

* body {
    outline: 0;
}

.header-top {
    padding: 1px 30px;
    background-color: blue;
    border-bottom: 1px solid #ffff;
}

.header-top-left {
    color: white;
}

.social-top-header {
    padding: 8px 0;
    display: flex;
}

.header-top-social {
    float: right;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.float-left {
    float: left;
}

.social-top-header .header-top-left span {
    color: #ffff;
    font-size: 15px;
    margin-right: 45px;
    line-height: normal;
}

.social-top-header .header-top-left span i {
    color: orange;
    margin-right: 10px;
}

.float-right {
    float: right !important;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

* ul {
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.social-top-header .header-top-social li {
    float: left;
}

.social-top-header .header-top-social a {
    color: #ffff;
    text-align: center;
    font-size: 20px;
    margin-left: 12px;
    background-color: transparent;
    text-decoration: none;
}

.header-top-social ul li i.fa {
    color: blue;
    width: 20px;
    height: 20px;
    background-color: #ffff;
    padding: 4px;
    border-radius: 100px;
    font-size: 13px;
    display: inline-block;
    text-rendering: auto;
    font-weight: 900;
}

.logo img {
    display: inline-block;
    line-height: 85px;
    width: 60px;
    padding: 13px;
    vertical-align: middle;
    border-style: none;
}

.site-title {
    background-color: red;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
    line-height: 1.23em;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.main-header {
    background-color: burlywood;
    padding: 0 15px;
    position: sticky;
    height: 85px;
    z-index: 99999;
    border-bottom: 1px solid red;
    top: 0;
    right: 0;
    left: 0;
}

.container-fluid {
    pad: 0;
    margin-left: auto;
    margin-left: auto;
}

ustom-na .menu-header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
}

.custom-nav {
    float: right;
}


/* .cv .nav-list {} */

ul {
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.custom-nav .nav-list li {
    display: inline-flex;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.custom-nav .nav-list li a.menu {
    font-size: 16px;
    font-family: poppins, sans-serif;
    font-weight: 500;
    padding: 0 15px;
    line-height: 85px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.custom-nav .nav-list li button.header-button {
    color: white;
    background-color: green;
    margin: 15px;
    border-radius: 3px;
    height: 40px;
}